{% macro commitLink(hash) %}[{{ hash | truncate(6, true, '') }}](https://github.com/angular/angular.js/commit/{{hash}}){% endmacro -%}
{% macro issueLink(issue) %}[{% if issue.repo %}{{ [issue.org, issue.repo] | join('/') }}{% endif %}#{{ issue.id }}](https://github.com/{{ issue.org or org }}/{{ issue.repo or repo }}/issues/{{ issue.id }}){% endmacro %}
{% macro showCloses(closes) %}{% for close in closes %},
  {{ issueLink(close) }}{% endfor %}{% endmacro -%}
{% macro showCommit(commit) %}{{ commit.title }}
  ({{ commitLink(commit.hash) }}{{ showCloses(commit.closes) }}){% endmacro -%}
{% macro showCommits(typeTitle, scopes) %}
{% if scopes -%}
## {{ typeTitle }}
{%- for scope, commits in scopes %}
{% if commits.length == 1 -%}
- **{{ scope }}:** {{ showCommit(commits[0]) }}
{%- else -%}
- **{{ scope }}:**
{%- for commit in commits %}
  - {{ showCommit(commit) }}
{%- endfor -%}
{% endif -%}
{% endfor -%}
{% endif %}
{% endmacro -%}

{% macro showBreakingChanges(commits) %}
{% if commits.length %}
## Breaking Changes
{% for scope, commits in commits | groupby('scope') %}
### **{{ scope }}** due to:
{%- for commit in commits %}
  - **{{ commitLink(commit.hash) }}**: {{ commit.title }}

{{ commit.bcMessage }}
{% endfor -%}
{% endfor %}
{% endif %}
{% endmacro -%}

<a name="{{ version }}"></a>
# {{ version }} {{ codename }} ({{ date | date }})

{{ showCommits('Bug Fixes', types['fix']) }}
{{ showCommits('New Features', types['feat']) }}
{{ showCommits('Performance Improvements', types['perf']) }}

{{ showBreakingChanges(breakingChanges) }}